<div class="col-md-3 agileinfo_new_products_grid" *ngFor="let product of listProducts">
  <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
    <div class="hs-wrapper hs-wrapper1">
      <img src="{{product?.image}}" alt=" " class="img-responsive" />
    </div>
    <h5 *ngIf="product?.discount == 0"><a>{{product?.name}}</a></h5>
    <h5 *ngIf="product?.discount > 0"><a>{{product?.name}} -{{product?.discount}}%</a></h5>
    <div class="simpleCart_shelfItem">
      <p *ngIf="product?.discount > 0"><span>${{product?.price}}</span> <i class="item_price">${{product?.price * product?.discount / 100}}</i></p>
      <p *ngIf="product?.discount == 0"><i class="item_price">${{product?.price}}</i></p>
      <button type="submit" class="w3ls-cart" (click)="viewProductDetail(product)">Chi tiết sản phẩm</button>
    </div>
  </div>
</div>