.suppliers {
    display: flex;
    flex-direction: row;
    li {
        list-style: none;
        max-height: 60px;
        img {
            height: 100%;
            margin: auto;
        }
        p {
            text-align: center;
            margin-top: 5px;
        }
    }
}